# Common files to ignore
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
build/
data/
develop-eggs/
dist/
downloads/
eggs/
honeybee/
wandb/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
.pytest_cache/
.coverage
htmlcov/
node_modules/
datasets/
*.weights
*.pt
*.pth
*.ckpt